<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<div class="blogs">
  <h2>Opss! You hit a 404 page</h2>
  <p>Go to main: <a href="/">Home Page!</a></p>
</div>
<%- include('./partials/footer.ejs') %>
