<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/header.ejs') %>
  <div class="blogs about">
    <h1> About Me</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat, nulla ut fringilla commodo, tortor ligula tempus est, at pretium purus urna vel ipsum. Nullam interdum aliquet mauris non euismod.</p>

    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis ultricies nunc sed nunc placerat, cursus varius dui suscipit. Vestibulum laoreet suscipit pellentesque.</p>
    <p>Praesent eros eros, molestie in purus vel, porttitor egestas lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent blandit nulla accumsan libero varius maximus. In tempor tincidunt velit id posuere. Phasellus volutpat ligula a massa convallis facilisis. Proin convallis enim ac dolor sagittis, eget finibus velit condimentum :)</p>
  </div>
  <%- include('./partials/footer.ejs') %>
